body {
  margin: 0;
  padding: 0;
  background-color: rgb(158, 92, 158);
  font-family: Verdana;
}

.nav-logo img {
  padding: 10px;
  height: 60px;
  width: 210px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(197, 134, 197);
  padding: 0 15px;
}

ul {
  list-style-type: none;
  display: flex;
  margin-top: 30px;
  margin-right: 0;
  padding: 0;
}

ul li {
  margin-left: 25px;
}

ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

ul li a:hover {
  color: rgb(131, 73, 133);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  height: calc(100vh - 80px); 
  box-sizing: border-box;
}

.card {
  background-color: white;
  padding: 25px;
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  max-width: 90%;
  box-sizing: border-box;
}

#loved-image,
#hated-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  display: none;
}

.card.active {
  display: flex;
}

.card h3 {
  text-align: center;
  font-size: 1.2rem;
}

.card a {
  margin-top: 20px;
  text-align: center;
  border-radius: 35px;
  text-decoration: none;
  background-color: rgb(131, 73, 133);
  color: white;
  padding: 15px;
  width: 100px;
  transition: all 0.2s ease;
}

.card a:hover {
  background-color: rgb(92, 52, 94);
  color: white;
}

img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.btn {
  width: 100%;
  max-width: 260px;
  margin: 8px;
  padding: 12px;
  border-radius: 18px;
  background-color: rgb(131, 73, 133);
  color: white;
  border: none;
  outline: none;
  transition: all 0.2s ease;
}

.card.result {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding-bottom: 20px;
}

.btn:hover {
  background: rgb(92, 52, 94);
}

.section-container {
  padding-top: 50px;
  margin-left: 400px;
  margin-right: 400px;
  text-align: justify;
}

.section-text {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  font-size: 15px;
}

.section-text h2, h4, p {
  text-align: center;
  padding-top: 20px;
}


.section-text ol {
  text-align: center;
  display: block;
  margin-top: 20px;

}

.section-text .btn{
  text-decoration: none;
  display: block;
  margin: 30px auto;
  text-align: center;
}

@media (max-width: 962px) {
  .nav-container {
    flex-direction: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section-container {
  padding-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
}


  .nav-logo img {
  padding: 10px;
  height: 40px;
  width: 150px;
}

  ul {
    flex-direction: column;
    margin-top: 10px;
  }

  ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .card-container {
    margin-top: 100px;
    height: auto;
    padding: 20px;
  }

  .card {
    padding: 20px;
  }

  .btn {
    max-width: 100%;
  }

  .card a {
    width: 80%;
    padding: 12px;
  }

  .card h3 {
    font-size: 1rem;
  }
}
